{% extends 'base.html' %}

{% block content %}
    <h1>Movies in {{ genre.name }}</h1>

    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                        <p class="card-text">Director: {{ movie.director }}</p>
                        <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
