<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">MovieWeb App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('list_users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('add_user') }}">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('list_genres') }}">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ url_for('list_movies') }}">All Movies</a>
                </li>
            </ul>
            <form class="d-flex" action="{{ url_for('search_movies') }}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search movies" aria-label="Search" name="query">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>