{% extends 'base.html' %}

{% block title %}Users - MovieWeb App{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Users</h1>

    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">
                <a href="{{ url_for('user_movies', user_id=user.id) }}" class="text-decoration-none text-dark fw-bold">
                    {{ user.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
